@import '/src/style/calc-theme.scss';

details {
    outline: none;
    border: none;
    position: relative;

    mat-icon {
        opacity: .67;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: 160ms;
    }

    &[open] {
        mat-icon {
            transform: rotateZ(0);
        }

    }

    & > summary {
        list-style: none;
        display: flex;
        align-items: center;
        cursor: pointer;

        &::marker, &::-webkit-details-marker {
            display: none;
        }

        &:focus {
            outline: none;
        }
    }

    & > p {
        margin: 0;
        color: rgba(0,0,0,.67);
    }
}