/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
html {
    overflow-x: hidden;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.margin-bottom-1 {
    margin-bottom: 1rem;
}

.margin-bottom-2 {
    margin-bottom: 2rem;
}

.margin-top-half {
    margin-top: .5rem;
}

.margin-top {
    margin-top: 1rem;
}

.calc-full-width {
    width: 100%;
    box-sizing: border-box;
  }
  
  .calc-at-least-full-width {
    min-width: 100%;
    box-sizing: border-box;
  }

.calc-flex-horizontal {
    display: flex;
    flex-direction: row;

    .calc-flex-1 + .calc-flex-1 {
        margin-inline-start: 1rem;
    }
}

.calc-flex-1 {
    flex: 1;
}

.nowrap {
    white-space: nowrap;
}

.calc-table-nowrap-contents {
    tbody {
        white-space: nowrap;
    }
}

@mixin undo-flex {
    display: block;

    .calc-flex-1 + .calc-flex-1 {
        margin-inline-start: 0;
        margin-block-start: 1rem;
    }
}

@media screen and (max-width: 300px) {
  .calc-flex-300 {
      @include undo-flex;
  }
}

@media screen and (max-width: 800px) {
    .calc-flex-800 {
        @include undo-flex;
    }
  }

@media screen and (max-width: 1200px) {
    .calc-flex-1200 {
        @include undo-flex;
    }
  }

 .calc-buttons-row {
     button {
         margin-inline-end: 8px;
         margin-block-end: 8px;
     }
 }