<article class="calc-container">
    <h1>Rent vs Ownership</h1>
    <div class="calc-form-contents">
        <div class="calc-form">
            <div class="margin-bottom-1">
                <mat-accordion class="calc-accordion " multi>
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Savings
                            </mat-panel-title>
                            <mat-panel-description>
                                Initial sum
                                <mat-icon>savings</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div class="calc-flex-horizontal sum-inputs">
                            <mat-form-field class="calc-flex-1">
                                <mat-label>Initial Sum</mat-label>
                                <input 
                                    type="number" 
                                    matInput 
                                    placeholder="Your initial available sum"
                                    [(ngModel)]="initialSum"
                                    (ngModelChange)="update()"
                                    name="initialSum"
                                    #ctrl="ngModel">
                                <span matSuffix>{{currencySymbol}}</span>
                            </mat-form-field>

                            <mat-form-field class="calc-flex-1">
                                <mat-label>Current Rent</mat-label>
                                <input 
                                    type="number" 
                                    matInput 
                                    placeholder="What you're paying for rent now"
                                    [(ngModel)]="rent.initialRent" 
                                    (ngModelChange)="update()" 
                                    name="currentRent"
                                    #ctrl="ngModel">
                                <span matSuffix>{{currencySymbol}}</span>
                            </mat-form-field>
                        </div>
                        <mat-form-field style="width: 200px" class="margin-bottom-1">
                            <mat-label>Investment interest rate</mat-label>
                            <input 
                                type="number" 
                                matInput 
                                placeholder="Average interest rate from investment"
                                [(ngModel)]="investmentInterest" 
                                (ngModelChange)="update()"
                                name="investmentInterest" #ctrl="ngModel">
                            <span matSuffix>%</span>
                            <mat-hint align="start"><strong>Expected interest rate for investments</strong> </mat-hint>
                        </mat-form-field>
                        <div class="calc-flex-horizontal rate-inputs">
                            <mat-form-field class="calc-flex-1">
                                <mat-label>Rent annual increase</mat-label>
                                <input 
                                    type="number" 
                                    matInput 
                                    placeholder="In percent, how much rent increases per year"
                                    [(ngModel)]="rent.annualIncreaseRate" 
                                    (ngModelChange)="update()"
                                    name="rentAnnualIncreaseRate"
                                    #ctrl="ngModel">
                                <span matSuffix>%</span>
                            </mat-form-field>

                            <mat-form-field class="calc-flex-1">
                                <mat-label>Property value annual increase</mat-label>
                                <input 
                                    type="number" 
                                    matInput 
                                    placeholder="Increase in value for the property, annually"
                                    [(ngModel)]="annualAssetInterest" 
                                    (ngModelChange)="update()"
                                    name="annualAssetInterest" 
                                    #ctrl="ngModel">
                                <span matSuffix>%</span>
                            </mat-form-field>
                        </div>
                        <mat-form-field style="width: 200px" class="margin-bottom-1">
                            <mat-label>Extra years</mat-label>
                            <input type="number" 
                                matInput placeholder="Years to add"
                                min="0"
                                [(ngModel)]="extraYears" 
                                (ngModelChange)="update()"
                                name="extraYears" #ctrl="ngModel">
                            <mat-hint align="start"><strong>See calculations for years after the end of the mortgage</strong> </mat-hint>
                        </mat-form-field>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Buy Property
                            </mat-panel-title>
                            <mat-panel-description>
                                Mortgage, housing rate
                                <mat-icon>account_balance</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <mat-form-field>
                            <mat-label>Asset Price</mat-label>
                            <input type="number" matInput placeholder="The total price for the asset"
                                [(ngModel)]="price" name="price" #ctrl="ngModel">
                        </mat-form-field>
                        
                        <table mat-table [dataSource]="mortgage.loans"
                            class="calc-full-width">
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let loan"> {{loan.name}} </td>
                                <td mat-footer-cell *matFooterCellDef>Total</td>
                            </ng-container>
                            <ng-container matColumnDef="principal">
                                <th mat-header-cell *matHeaderCellDef> Principal </th>
                                <td mat-cell *matCellDef="let loan; let i = index;">
                                    <input [(ngModel)]="mortgage.loans[i].principal" 
                                        class="calc-medium-width"
                                        style="width: 70px"
                                        type="number" />
                                </td>
                                <td mat-footer-cell *matFooterCellDef>
                                    <calc-money [amount]="mortgage.principal"></calc-money>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="interestRate">
                                <th mat-header-cell *matHeaderCellDef> Interest Rate </th>
                                <td mat-cell *matCellDef="let loan; let i = index;">
                                    <input [(ngModel)]="mortgage.loans[i].interestRate" type="number" step="0.1" min="0"
                                        max="15" style="width: 40px" class="calc-medium-width" />%
                                </td>
                                <td mat-footer-cell *matFooterCellDef> {{mortgage.avgInterestRate | number}}% </td>
                            </ng-container>
                            <ng-container matColumnDef="months">
                                <th mat-header-cell *matHeaderCellDef> Months </th>
                                <td mat-cell *matCellDef="let loan; let i = index;">
                                    <input [(ngModel)]="mortgage.loans[i].months" 
                                        class="calc-medium-width"
                                        type="number" 
                                        min="1" />
                                </td>
                                <td mat-footer-cell *matFooterCellDef> {{mortgage.totalMonths}} </td>
                            </ng-container>
                            <ng-container matColumnDef="monthlyPayment">
                                <th mat-header-cell *matHeaderCellDef> Monthly payment </th>
                                <td mat-cell *matCellDef="let loan">
                                    <calc-money [amount]="loan.monthlyPayment"></calc-money>
                                </td>
                                <td mat-footer-cell *matFooterCellDef>
                                    <calc-money [amount]="mortgage.maxMonthlyPayment"></calc-money>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="total">
                                <th mat-header-cell *matHeaderCellDef>Total amount</th>
                                <td mat-cell *matCellDef="let loan">
                                    <calc-money [amount]="loan.totalAmount"></calc-money>
                                </td>
                                <td mat-footer-cell *matFooterCellDef>
                                    <calc-money [amount]="mortgage.totalAmount"></calc-money>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedMortgageLoanColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedMortgageLoanColumns;"></tr>
                            <tr mat-footer-row *matFooterRowDef="displayedMortgageLoanColumns"></tr>
                        </table>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Data per year
                            </mat-panel-title>
                            <mat-panel-description>
                                ...
                                <mat-icon>table_chart</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div style="height: 600px; max-height: calc(100vh - 100px); overflow: auto">
                        <table mat-table [dataSource]="yearsData" class="calc-full-width">
                            <ng-container matColumnDef="year">
                                <th mat-header-cell *matHeaderCellDef>Year</th>
                                <td mat-cell *matCellDef="let item"> {{item.year}} </td>
                                <td mat-footer-cell *matFooterCellDef>{{totalTime}}</td>
                            </ng-container>
                            <ng-container matColumnDef="rent">
                                <th mat-header-cell *matHeaderCellDef>Rent</th>
                                <td mat-cell *matCellDef="let item">
                                    <calc-money [type]="item.rent > item.mortgageMonthlyPayment ? 'bad' : null"
                                        [amount]="item.rent"></calc-money>
                                </td>
                                <td mat-footer-cell *matFooterCellDef>
                                    <calc-money type="bad" [amount]="rent.totalRent(mortgage.totalMonths)"></calc-money>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="monthlyRentInvestment">
                                <th mat-header-cell *matHeaderCellDef>Rent invest/month</th>
                                <td mat-cell *matCellDef="let item">
                                    <calc-money *ngIf="item.monthlyRentInvestment; else empty" type="good"
                                        [amount]="item.monthlyRentInvestment"></calc-money>
                                </td>
                                <td mat-footer-cell *matFooterCellDef>
                                    <calc-money type="good" [amount]="totalRentInvestmentSum"></calc-money>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="totalRentSavings">
                                <th mat-header-cell *matHeaderCellDef>Rent savings</th>
                                <td mat-cell *matCellDef="let item">
                                    <calc-money [amount]="item.totalRentSavings"></calc-money>
                                </td>
                                <td mat-footer-cell *matFooterCellDef>
                                    <calc-money type="good" [amount]="totalRentSavings"></calc-money>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="mortgageMonthlyPayment">
                                <th mat-header-cell *matHeaderCellDef>Mortgage/month</th>
                                <td mat-cell *matCellDef="let item">
                                    <calc-money [type]="item.rent < item.mortgageMonthlyPayment ? 'bad' : null"
                                        [amount]="item.mortgageMonthlyPayment"></calc-money>
                                </td>
                                <td mat-footer-cell *matFooterCellDef>
                                    <calc-money type="bad" [amount]="mortgage.totalAmount"></calc-money>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="mortgageInvestments">
                                <th mat-header-cell *matHeaderCellDef>Mortgage savings</th>
                                <td mat-cell *matCellDef="let item">
                                    <calc-money *ngIf="item.mortgageInvestments; else empty" type="good"
                                        [amount]="item.mortgageInvestments"></calc-money>
                                </td>
                                <td mat-footer-cell *matFooterCellDef>
                                    <calc-money type="good" [amount]="totalMortgageSavings"></calc-money>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="mortgageAmountLeft">
                                <th mat-header-cell *matHeaderCellDef>Mortgage left</th>
                                <td mat-cell *matCellDef="let item">
                                    <calc-money [amount]="item.mortgageAmountLeft"></calc-money>
                                </td>
                                <td mat-footer-cell *matFooterCellDef>

                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedChartDataTableColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedChartDataTableColumns;"></tr>
                            <tr mat-footer-row *matFooterRowDef="displayedChartDataTableColumns"></tr>
                        </table>
                    </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <div class="calc-flex-horizontal calc-flex-800">
                <mat-card class="calc-flex-1">
                    <mat-card-header>
                        <div mat-card-avatar>
                            <mat-icon aria-hidden="false" aria-label="Summary">hotel</mat-icon>
                        </div>
                        <mat-card-title>Rent Summary</mat-card-title>
                        <mat-card-subtitle>Summary after {{totalTime}} years</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <calc-summary-table [items]="rentSummaryItems"></calc-summary-table>
                    </mat-card-content>
                </mat-card>

                <mat-card class="calc-flex-1">
                    <mat-card-header>
                        <div mat-card-avatar>
                            <mat-icon aria-hidden="false" aria-label="Summary">account_balance</mat-icon>
                        </div>
                        <mat-card-title>Mortgage Summary</mat-card-title>
                        <mat-card-subtitle>Summary after {{totalTime}} years</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <calc-summary-table [items]="mortgageSummaryItems"></calc-summary-table>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="calc-results">
            <mat-card class="calc-full-width">
                <mat-card-header>
                    <div mat-card-avatar>
                        <mat-icon aria-hidden="false" aria-label="Summary">science</mat-icon>
                    </div>
                    <mat-card-title>Results</mat-card-title>
                    <mat-card-subtitle>Summary after {{totalTime}} years</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <table class="mat-table calc-full-width">
                        <thead>
                            <tr class="mat-header-row">
                                <th class="mat-header-cell"></th>
                                <th class="mat-header-cell">Rent</th>
                                <th class="mat-header-cell">Mortgage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="mat-row">
                                <td class="mat-cell">
                                    <strong>Total assets value</strong>
                                </td>
                                <td class="mat-cell">
                                    <calc-money
                                        [type]="totalRentInvestmentGainsAfterTax > totalMortgageFutureValue ? 'good' : null"
                                        [amount]="totalRentInvestmentGainsAfterTax"></calc-money>
                                </td>
                                <td class="mat-cell">
                                    <calc-money
                                        [type]="totalRentInvestmentGainsAfterTax < totalMortgageFutureValue ? 'good' : null"
                                        [amount]="totalMortgageFutureValue">
                                    </calc-money>
                                </td>
                            </tr>
                            <tr class="mat-row">
                                <td class="mat-cell">Total gains (after tax)</td>
                                <td class="mat-cell">
                                    <calc-money [type]="totalRentGain > totalMortgageGain ? 'good' : null"
                                        [amount]="totalRentGain"></calc-money>
                                </td>
                                <td class="mat-cell">
                                    <calc-money [type]="totalMortgageGain > totalRentGain ? 'good' : null"
                                        [amount]="totalMortgageGain">
                                    </calc-money>
                                </td>
                            </tr>
                            <tr class="mat-row">
                                <td class="mat-cell">
                                    Capital gains tax
                                </td>
                                <td class="mat-cell">
                                    <calc-money type="bad" [amount]="totalRentInvestmentGainsTax"></calc-money>
                                </td>
                                <td class="mat-cell">
                                    <calc-money type="bad" [amount]="totalMortgageInvestmentTax">
                                    </calc-money>
                                </td>
                            </tr>
                            <tr class="mat-row">
                                <td class="mat-cell">
                                    Investments value
                                </td>
                                <td class="mat-cell">
                                    <calc-money [amount]="totalRentSavings"></calc-money>
                                </td>
                                <td class="mat-cell">
                                    <calc-money [amount]="totalMortgageSavings">
                                    </calc-money>
                                </td>
                            </tr>
                            <tr class="mat-row">
                                <td class="mat-cell">Total invested</td>
                                <td class="mat-cell">
                                    <calc-money [amount]="totalRentInvestmentSum"></calc-money>
                                </td>
                                <td class="mat-cell">
                                    <calc-money [amount]="totalMortgageInvestmentSum">
                                    </calc-money>
                                </td>
                            </tr>
                            <tr class="mat-row">
                                <td class="mat-cell">Total amount paid</td>
                                <td class="mat-cell">
                                    <calc-money
                                        [type]="totalRentPaid > mortgage.totalAmount + initialSum ? 'bad' : null"
                                        [amount]="totalRentPaid"></calc-money>
                                </td>
                                <td class="mat-cell">
                                    <calc-money
                                        [type]="mortgage.totalAmount + initialSum > totalRentPaid ? 'bad' : null"
                                        [amount]="mortgage.totalAmount + initialSum">
                                    </calc-money>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </mat-card-content>
            </mat-card>
            <mat-card class="calc-full-width">
                <mat-card-header>
                    <div mat-card-avatar>
                        <mat-icon aria-hidden="false" aria-label="Summary">show_chart</mat-icon>
                    </div>
                    <mat-card-title>Payments per time</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <google-chart 
                    style="width: 100%;"
                        [dynamicResize]="true"
                        [data]="chartData"
                        [columns]="chartColumns"
                        type="LineChart"
                        [options]="chartOptions"
                    ></google-chart>
                </mat-card-content>
            </mat-card>
            <mat-card class="calc-full-width">
                <mat-card-header>
                    <div mat-card-avatar>
                        <mat-icon aria-hidden="false" aria-label="Summary">savings</mat-icon>
                    </div>
                    <mat-card-title>Savings per time</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <google-chart 
                    style="width: 100%;"
                        [dynamicResize]="true"
                        [data]="savingsChartData"
                        [columns]="chartColumns"
                        type="LineChart"
                        [options]="chartOptions"
                    ></google-chart>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <ng-template #empty>
        -
    </ng-template>
</article>