<article class="calc-container">
    <h2>{{title}}</h2>
    <div class="margin-bottom-2">
        <calc-expand-text>
            <h3 calc-expand-text-label i18n class="calc-page-description-title">
                Description
            </h3>
            <div calc-expand-text-details class="calc-page-description-text">
                <p i18n>
                    This calculator aims to help you answer the question 
                    "which is preferable for me - renting a house and investing or 
                    taking a mortage and buying a property?".
                </p>
                <p i18n>
                    To make the comparison, we assume that for any given month, the difference between the mortgage and the rent is invested.
                    For example - if the monthly mortgage payment for a given month is $1000, but were we to rent instead, the rent payment for the same month
                    was $700, then the calculator counts an investment of $300 on the rent option for that month. For months when the mortgage payment is lower
                    than the rent payment, it'd be reversed and the investment would be added to the mortgage option.
                </p>
            </div>
        </calc-expand-text>
    </div>
    <div class="calc-form-contents">
        <div class="calc-form">
            <div class="margin-bottom-1">
                <mat-accordion class="calc-accordion " multi>

                    <!-- Setup -->
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title i18n="section header|Header for a Setup section">
                                Setup
                            </mat-panel-title>
                            <mat-panel-description>
                                &nbsp;
                                <mat-icon>tune</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div class="calc-flex-horizontal sum-inputs">
                            <mat-form-field class="calc-flex-1">
                                <mat-label i18n>Initial savings</mat-label>
                                <input 
                                    type="number" 
                                    matInput 
                                    i18n-placeholder
                                    placeholder="Your initial available sum"
                                    [(ngModel)]="initialSum"
                                    (ngModelChange)="update()"
                                    calcTrackOnBlur
                                    name="initialSum"
                                    #ctrl="ngModel">
                                <span matSuffix>{{currencyService.currencySymbol}}</span>
                            </mat-form-field>
                        </div>
                        <div class="margin-bottom-2">
                            <mat-form-field style="width: 200px">
                                <mat-label i18n>Investment interest rate</mat-label>
                                <input 
                                    type="number" 
                                    matInput 
                                    placeholder="Average interest rate from investment"
                                    i18n-placeholder
                                    calcTrackOnBlur
                                    [(ngModel)]="investmentInterest" 
                                    (ngModelChange)="update()"
                                    name="investmentInterest" #ctrl="ngModel" />
                                <span matSuffix>%</span>
                                <mat-hint align="start">
                                    <strong i18n>Expected average annual interest rate for investments</strong>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="margin-bottom-2">
                            <mat-form-field style="width: 200px">
                                <mat-label i18n>Capital gains tax</mat-label>
                                <input type="number" 
                                    matInput 
                                    min="0"
                                    max="100"
                                    calcTrackOnBlur
                                    [(ngModel)]="capitalGainsTaxPercentage" 
                                    (ngModelChange)="update()"
                                    name="extraYears" #ctrl="ngModel" />
                                <span matSuffix>%</span>
                                <mat-hint align="start">
                                    <strong i18n>The tax on profits from investments</strong> 
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="margin-bottom-2">
                            <mat-form-field style="width: 200px">
                                <mat-label i18n>Extra years</mat-label>
                                <input type="number" 
                                    matInput 
                                    i18n-placeholder
                                    placeholder="Years to add"
                                    min="0"
                                    calcTrackOnBlur
                                    [(ngModel)]="extraYears" 
                                    (ngModelChange)="update()"
                                    name="extraYears" #ctrl="ngModel">
                                <mat-hint align="start">
                                    <strong i18n>See calculations for years after the end of the mortgage</strong> 
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </mat-expansion-panel>

                    <!-- Rent -->
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title i18n>
                                Rent
                            </mat-panel-title>
                            <mat-panel-description>
                                &nbsp;
                                <mat-icon>hotel</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div>
                            <mat-form-field>
                                <mat-label i18n>Initial Rent</mat-label>
                                <input 
                                    type="number" 
                                    matInput 
                                    i18n-placeholder
                                    placeholder="What you're paying for rent now"
                                    [(ngModel)]="rent.initialRent" 
                                    (ngModelChange)="update()" 
                                    calcTrackOnBlur
                                    name="currentRent"
                                    #ctrl="ngModel">
                                <span matSuffix>{{currencyService.currencySymbol}}</span>
                            </mat-form-field>
                        </div>
                        <div class="rate-inputs">
                            <mat-form-field class="calc-flex-1 margin-bottom-2">
                                <mat-label i18n>Rent annual increase</mat-label>
                                <input 
                                    type="number" 
                                    matInput 
                                    i18n-placeholder
                                    placeholder="In percent, how much rent increases per year"
                                    [(ngModel)]="rent.annualIncreaseRate" 
                                    (ngModelChange)="update()"
                                    calcTrackOnBlur
                                    name="rentAnnualIncreaseRate"
                                    #ctrl="ngModel">
                                <span matSuffix>%</span>
                                <mat-hint align="start">
                                    <strong i18n>Expected average annual increase in rent payments</strong>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </mat-expansion-panel>

                    <!-- Mortgage -->
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title i18n>
                                Mortgage
                            </mat-panel-title>
                            <mat-panel-description>
                                &nbsp;
                                <mat-icon>account_balance</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <mat-form-field>
                            <mat-label i18n>Asset Price</mat-label>
                            <input 
                                type="number" 
                                matInput 
                                i18n-placeholder
                                placeholder="The total price for the asset"
                                [(ngModel)]="price" 
                                name="price" 
                                calcTrackOnBlur
                                #ctrl="ngModel">
                            <span matSuffix>{{currencyService.currencySymbol}}</span>
                        </mat-form-field>
                        <div>
                            <mat-form-field class="calc-flex-1 margin-bottom-2">
                                <mat-label i18n>Property value annual increase</mat-label>
                                <input 
                                    type="number" 
                                    matInput 
                                    i18n-placeholder
                                    placeholder="Increase in value for the property, annually"
                                    [(ngModel)]="annualAssetInterest" 
                                    (ngModelChange)="update()"
                                    name="annualAssetInterest" 
                                    calcTrackOnBlur
                                    #ctrl="ngModel">
                                <span matSuffix>%</span>
                                <mat-hint align="start">
                                    <strong i18n>Expected average annual increase in property value</strong>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <calc-mortgage 
                            (mortgageChange)="setMortgage($event)" 
                            [config]="mortgageConfig">
                        </calc-mortgage>
                    </mat-expansion-panel>

                    <!-- Data per year table -->
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title i18n>
                                Data per year
                            </mat-panel-title>
                            <mat-panel-description>
                                &nbsp;
                                <mat-icon>table_chart</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div style="height: 600px; max-height: calc(100vh - 100px); overflow: auto">
                        <table mat-table [dataSource]="yearsData" class="calc-at-least-full-width">
                            <ng-container matColumnDef="year" sticky>
                                <th mat-header-cell *matHeaderCellDef i18n>Year</th>
                                <td mat-cell *matCellDef="let item"> {{item.year}} </td>
                                <td mat-footer-cell *matFooterCellDef>{{totalTime}}</td>
                            </ng-container>
                            <ng-container matColumnDef="rent">
                                <th mat-header-cell *matHeaderCellDef i18n>Monthly rent</th>
                                <td mat-cell *matCellDef="let item">
                                    <calc-money [type]="item.rent > item.mortgageMonthlyPayment ? 'bad' : null"
                                        [amount]="item.rent"></calc-money>
                                </td>
                                <td mat-footer-cell *matFooterCellDef>
                                    <calc-money type="bad" [amount]="totalRentPaid"></calc-money>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="monthlyRentInvestment">
                                <th mat-header-cell *matHeaderCellDef i18n="Column header text for amount of investment per month when renting">Rent invest/month</th>
                                <td mat-cell *matCellDef="let item">
                                    <calc-money *ngIf="item.monthlyRentInvestment; else empty" type="good"
                                        [amount]="item.monthlyRentInvestment"></calc-money>
                                </td>
                                <td mat-footer-cell *matFooterCellDef>
                                    <calc-money type="good" [amount]="totalRentInvestmentSum"></calc-money>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="totalRentEquity">
                                <th mat-header-cell *matHeaderCellDef i18n>Rent equity</th>
                                <td mat-cell *matCellDef="let item">
                                    <calc-money [amount]="item.solventRentAmount"></calc-money>
                                </td>
                                <td mat-footer-cell *matFooterCellDef>
                                    <calc-money type="good" [amount]="totalRentInvestmentGainsAfterTax"></calc-money>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="mortgageMonthlyPayment">
                                <th mat-header-cell *matHeaderCellDef i18n>Mortgage monthly payment</th>
                                <td mat-cell *matCellDef="let item">
                                    <calc-money [type]="item.rent < item.mortgageMonthlyPayment ? 'bad' : null"
                                        [amount]="item.mortgageMonthlyPayment"></calc-money>
                                </td>
                                <td mat-footer-cell *matFooterCellDef>
                                    <calc-money type="bad" [amount]="mortgage.totalAmount"></calc-money>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="mortgageInvestments">
                                <th mat-header-cell *matHeaderCellDef i18n>Mortgage investments</th>
                                <td mat-cell *matCellDef="let item">
                                    <calc-money *ngIf="item.mortgageInvestments; else empty" type="good"
                                        [amount]="item.mortgageInvestments"></calc-money>
                                </td>
                                <td mat-footer-cell *matFooterCellDef>
                                    <calc-money type="good" [amount]="totalMortgageSavings"></calc-money>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="mortgageEquity">
                                <th mat-header-cell *matHeaderCellDef i18n>Mortgage equity</th>
                                <td mat-cell *matCellDef="let item">
                                    <calc-money type="good" [amount]="item.solventMortgageAmount"></calc-money>
                                </td>
                                <td mat-footer-cell *matFooterCellDef>
                                    <calc-money type="good" [amount]="totalMortgageInvestmentGainsAfterTax"></calc-money>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="mortgageAmountLeft">
                                <th mat-header-cell *matHeaderCellDef i18n>Mortgage left</th>
                                <td mat-cell *matCellDef="let item">
                                    <calc-money [amount]="item.mortgageAmountLeft"></calc-money>
                                </td>
                                <td mat-footer-cell *matFooterCellDef>

                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedChartDataTableColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedChartDataTableColumns;"></tr>
                            <tr mat-footer-row *matFooterRowDef="displayedChartDataTableColumns"></tr>
                        </table>
                    </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
        <div class="calc-results">
            <div class="margin-bottom-2">
            <mat-accordion class="calc-accordion" multi>

                <!-- Results -->
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title i18n>
                            Results
                        </mat-panel-title>
                        <mat-panel-description>
                            &nbsp;
                            <mat-icon>science</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-card-subtitle i18n>Comparison of rent vs mortgage after {totalTime, plural, =1 {one year} other {{{totalTime}} years}}</mat-card-subtitle>
                    <table class="mat-table calc-full-width">
                        <thead>
                            <tr class="mat-header-row">
                                <th class="mat-header-cell"></th>
                                <th class="mat-header-cell" i18n>Rent</th>
                                <th class="mat-header-cell" i18n>Mortgage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="mat-row">
                                <td class="mat-cell">
                                    <strong i18n>Total assets value</strong>
                                </td>
                                <td class="mat-cell">
                                    <calc-money
                                        [type]="totalRentInvestmentGainsAfterTax > totalMortgageFutureValue ? 'good' : null"
                                        [amount]="totalRentInvestmentGainsAfterTax"></calc-money>
                                </td>
                                <td class="mat-cell">
                                    <calc-money
                                        [type]="totalRentInvestmentGainsAfterTax < totalMortgageFutureValue ? 'good' : null"
                                        [amount]="totalMortgageFutureValue">
                                    </calc-money>
                                </td>
                            </tr>
                            <tr class="mat-row">
                                <td class="mat-cell" i18n>Total gains (after tax)</td>
                                <td class="mat-cell">
                                    <calc-money [type]="totalRentGain > totalMortgageGain ? 'good' : null"
                                        [amount]="totalRentGain"></calc-money>
                                </td>
                                <td class="mat-cell">
                                    <calc-money [type]="totalMortgageGain > totalRentGain ? 'good' : null"
                                        [amount]="totalMortgageGain">
                                    </calc-money>
                                </td>
                            </tr>
                            <tr class="mat-row">
                                <td class="mat-cell" i18n>
                                    Capital gains tax
                                </td>
                                <td class="mat-cell">
                                    <calc-money [amount]="totalRentInvestmentGainsTax"></calc-money>
                                </td>
                                <td class="mat-cell">
                                    <calc-money [amount]="totalMortgageInvestmentTax">
                                    </calc-money>
                                </td>
                            </tr>
                            <tr class="mat-row">
                                <td class="mat-cell" i18n>
                                    Investments value
                                </td>
                                <td class="mat-cell">
                                    <calc-money [amount]="totalRentEquity"></calc-money>
                                </td>
                                <td class="mat-cell">
                                    <calc-money [amount]="totalMortgageSavings">
                                    </calc-money>
                                </td>
                            </tr>
                            <tr class="mat-row">
                                <td class="mat-cell" i18n>Total amount invested</td>
                                <td class="mat-cell">
                                    <calc-money [amount]="totalRentInvestmentSum"></calc-money>
                                </td>
                                <td class="mat-cell">
                                    <calc-money [amount]="totalMortgageInvestmentSum">
                                    </calc-money>
                                </td>
                            </tr>
                            <tr class="mat-row">
                                <td class="mat-cell" i18n>Total amount paid</td>
                                <td class="mat-cell">
                                    <calc-money
                                        [type]="totalRentPaid > mortgage.totalAmount + initialSum ? 'bad' : null"
                                        [amount]="totalRentPaid"></calc-money>
                                </td>
                                <td class="mat-cell">
                                    <calc-money
                                        [type]="mortgage.totalAmount + initialSum > totalRentPaid ? 'bad' : null"
                                        [amount]="mortgage.totalAmount + initialSum">
                                    </calc-money>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </mat-expansion-panel>

                <!-- Mortgage summary -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title i18n>
                            Mortgage Summary
                        </mat-panel-title>
                        <mat-panel-description class="mat-expansion-panel-header-description-icon-only">
                            &nbsp;
                            <mat-icon>account_balance</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-card-subtitle i18n>Summary after {totalTime, plural, =1 {one year} other {{{totalTime}} years}}</mat-card-subtitle>
                    <calc-summary-table [items]="mortgageSummaryItems"></calc-summary-table>
                </mat-expansion-panel>

                <!-- Rent summary -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title i18n>
                            Rent Summary
                        </mat-panel-title>
                        <mat-panel-description class="mat-expansion-panel-header-description-icon-only">
                            &nbsp;
                            <mat-icon>hotel</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-card-subtitle i18n>Summary after {totalTime, plural, =1 {one year} other {{{totalTime}} years}}</mat-card-subtitle>
                    <calc-summary-table [items]="rentSummaryItems"></calc-summary-table>
                </mat-expansion-panel>

            </mat-accordion>
        </div>
            <mat-card class="calc-full-width">
                <mat-card-header>
                    <div mat-card-avatar>
                        <mat-icon aria-hidden="false" aria-label="Summary">show_chart</mat-icon>
                    </div>
                    <mat-card-title i18n>Monthly Payment Per Year</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <google-chart 
                    style="width: 100%;"
                        [dynamicResize]="true"
                        [data]="chartData"
                        [columns]="chartColumns"
                        type="LineChart"
                        [options]="chartOptions"
                    ></google-chart>
                </mat-card-content>
            </mat-card>
            <mat-card class="calc-full-width">
                <mat-card-header>
                    <div mat-card-avatar>
                        <mat-icon aria-hidden="false" aria-label="Summary">savings</mat-icon>
                    </div>
                    <mat-card-title i18n>Equity Over Time</mat-card-title>
                    <mat-card-subtitle i18n>Equity owned by the home owner/renter, by years</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <google-chart 
                    style="width: 100%;"
                        [dynamicResize]="true"
                        [data]="savingsChartData"
                        [columns]="chartColumns"
                        type="LineChart"
                        [options]="chartOptions"
                    ></google-chart>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <ng-template #empty>
        -
    </ng-template>
</article>